# Pandas
---

Pandas is a data analysis tool, built on top of numpy.

In [1]:
import pandas as pd

In [2]:
names = ["Nepal", "India", "Bhutan"]
codes = [977, 81, 123]

In [3]:
list(zip(names, codes))

[('Nepal', 977), ('India', 81), ('Bhutan', 123)]

**zip: ** *zip creates collection of tuples out of each elements of given lists*

In [4]:
zip([1, 2, 3], [11, 12, 13], [21, 22, 23])

In [5]:
list(zip([1, 2, 3], [11, 12, 13], [21, 22, 23]))

[(1, 11, 21), (2, 12, 22), (3, 13, 23)]

*We create a dataset with names and codes*

In [6]:
dataset = list(zip(names, codes))

In [7]:
dataset

[('Nepal', 977), ('India', 81), ('Bhutan', 123)]

**Now we create a dataframe**

Dataframe is generally a tabular data with rows and columns ( similar to that of excel ).

In [8]:
df = pd.DataFrame(data=dataset, columns=["Name", "Code"])

In [9]:
df

     Name  Code
0   Nepal   977
1   India    81
2  Bhutan   123

*Here, each row defines a unique set of observation or condition, while each column defines parameters for observations*

*In above dataframe, Name and Code are parameters we are using to define a country and each row i.e Nepal and 977 collectively gives us unique set*

*__0__, __1__ .. are called index in pandas, they are generated while creating a dataframe*

*Let's create a large dataset*

In [10]:
import numpy as np

In [11]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']

In [12]:
np.random.randint(low=0, high=len(names))

1

In [13]:
random_names = [names[np.random.randint(low=0, high=len(names))] 
                for i in range(1000)]

In [14]:
random_names[:10]

['Jessica',
 'Mary',
 'Bob',
 'Mary',
 'Mary',
 'Bob',
 'Bob',
 'Bob',
 'Jessica',
 'Mel']

In [15]:
ages = [np.random.randint(low=1, high=100) for i in range(1000)]

In [16]:
ages[:10]

[59, 68, 2, 84, 85, 49, 19, 67, 39, 29]

In [17]:
df = pd.DataFrame(list(zip(random_names, ages)), 
                  columns=["Name", "Age"])

In [18]:
df

        Name  Age
0    Jessica   59
1       Mary   68
2        Bob    2
3       Mary   84
4       Mary   85
5        Bob   49
6        Bob   19
7        Bob   67
8    Jessica   39
9        Mel   29
10   Jessica   76
11       Mel   55
12      Mary   20
13      Mary   84
14   Jessica   37
15      Mary   50
16   Jessica   34
17      John   38
18       Mel   62
19   Jessica   88
20       Mel   53
21       Mel   52
22      Mary   90
23   Jessica   37
24       Mel   43
25      John   57
26   Jessica   22
27       Mel   84
28       Mel   30
29   Jessica   55
..       ...  ...
970     Mary   83
971     Mary   35
972      Bob   35
973      Bob   38
974      Mel   25
975     Mary   35
976  Jessica   54
977     Mary   38
978      Bob   28
979     Mary   61
980  Jessica   96
981     Mary   16
982      Bob   96
983  Jessica   32
984     Mary   40
985     John   53
986     John   44
987     Mary   97
988      Bob    5
989     Mary   34
990      Mel   77
991     Mary   28
992  Jessica   75
993      Bob   45
994  Jessica   34
995     Mary   51
996  Jessica    1
997  Jessica   48
998      Bob   21
999      Bob   40

[1000 rows x 2 columns]

**Overview of data**

*show first 5 rows*

In [19]:
df.head()

      Name  Age
0  Jessica   59
1     Mary   68
2      Bob    2
3     Mary   84
4     Mary   85

*or 10*

In [20]:
df.head(10)

      Name  Age
0  Jessica   59
1     Mary   68
2      Bob    2
3     Mary   84
4     Mary   85
5      Bob   49
6      Bob   19
7      Bob   67
8  Jessica   39
9      Mel   29

*show last 5 rows*

In [21]:
df.tail()

        Name  Age
995     Mary   51
996  Jessica    1
997  Jessica   48
998      Bob   21
999      Bob   40

*or 10*

In [22]:
df.tail(10)

        Name  Age
990      Mel   77
991     Mary   28
992  Jessica   75
993      Bob   45
994  Jessica   34
995     Mary   51
996  Jessica    1
997  Jessica   48
998      Bob   21
999      Bob   40

### Selecting rows and columns

**select single column from dataframe**

In [23]:
df["Name"]

0      Jessica
1         Mary
2          Bob
3         Mary
4         Mary
5          Bob
6          Bob
7          Bob
8      Jessica
9          Mel
10     Jessica
11         Mel
12        Mary
13        Mary
14     Jessica
15        Mary
16     Jessica
17        John
18         Mel
19     Jessica
20         Mel
21         Mel
22        Mary
23     Jessica
24         Mel
25        John
26     Jessica
27         Mel
28         Mel
29     Jessica
        ...
970       Mary
971       Mary
972        Bob
973        Bob
974        Mel
975       Mary
976    Jessica
977       Mary
978        Bob
979       Mary
980    Jessica
981       Mary
982        Bob
983    Jessica
984       Mary
985       John
986       John
987       Mary
988        Bob
989       Mary
990        Mel
991       Mary
992    Jessica
993        Bob
994    Jessica
995       Mary
996    Jessica
997    Jessica
998        Bob
999        Bob
Name: Name, dtype: object

*Note: such selection which gave us rows of a single column, are called Series in pandas*

**Select multiple columns from dataframe**

In [24]:
df[["Name", "Age"]].head()

      Name  Age
0  Jessica   59
1     Mary   68
2      Bob    2
3     Mary   84
4     Mary   85

*we are selecting multiple columns with list of columns ["Name", "Age"]*

**Select row from dataframe**

*Select from index*

In [25]:
df.ix[0]

Name    Jessica
Age          59
Name: 0, dtype: object

> index can be either integers as above or any string, depends on dataframe

*Select from location*

In [26]:
df.iloc[0]

Name    Jessica
Age          59
Name: 0, dtype: object

> it is integer based location

*Select from location*

In [27]:
df.loc[0]

Name    Jessica
Age          59
Name: 0, dtype: object

*Slicing based selection*

In [28]:
df.loc[0:6]

      Name  Age
0  Jessica   59
1     Mary   68
2      Bob    2
3     Mary   84
4     Mary   85
5      Bob   49
6      Bob   19

In [29]:
df.iloc[0:6]

      Name  Age
0  Jessica   59
1     Mary   68
2      Bob    2
3     Mary   84
4     Mary   85
5      Bob   49

**Behavior of ix, loc and iloc**

In [30]:
# let's create a new dataframe with selected rows
ndf = df.loc[10:20]

In [31]:
ndf

       Name  Age
10  Jessica   76
11      Mel   55
12     Mary   20
13     Mary   84
14  Jessica   37
15     Mary   50
16  Jessica   34
17     John   38
18      Mel   62
19  Jessica   88
20      Mel   53

In [32]:
ndf.ix[0]

KeyError: 0

In [33]:
ndf.loc[0]

KeyError: 'the label [0] is not in the [index]'

In [34]:
ndf.iloc[0]

Name    Jessica
Age          76
Name: 10, dtype: object

In [35]:
ndf.loc[10]

Name    Jessica
Age          76
Name: 10, dtype: object

In [37]:
mdf = pd.DataFrame([('Apple', 42, 56), ('Orange', 42, 56), 
                    ('Pineapple', 42, 56), ('Lime', 42, 56)], 
                   columns=["Name", "Price", "Qty"])

In [41]:
mdf = mdf.set_index(["Name"])

In [42]:
mdf

           Price  Qty
Name
Apple         42   56
Orange        42   56
Pineapple     42   56
Lime          42   56

In [43]:
mdf.ix[0]

Price    42
Qty      56
Name: Apple, dtype: int64

In [44]:
mdf.iloc[0]

Price    42
Qty      56
Name: Apple, dtype: int64

In [45]:
mdf.loc[0]

TypeError: cannot do label indexing on <class 'pandas.indexes.base.Index'> with these indexers [0] of <class 'int'>

In [46]:
mdf.ix["Apple"]

Price    42
Qty      56
Name: Apple, dtype: int64

In [47]:
mdf.loc["Apple"]

Price    42
Qty      56
Name: Apple, dtype: int64

In [48]:
mdf.iloc["Apple"]

TypeError: cannot do positional indexing on <class 'pandas.indexes.base.Index'> with these indexers [Apple] of <class 'str'>

*In above 3 cells, __ix__ and __loc__ are trying to access by index __0__, which is not present in our new dataframe while __iloc__ fetched 1st row or 0th data from our new dataframe*

**Silicing by rows and columns**

In [49]:
# get all data from 0 to 6 row and column "Age"
df.loc[0:6, "Age"]

0    59
1    68
2     2
3    84
4    85
5    49
6    19
Name: Age, dtype: int64

In [50]:
# get all data from 0 to 6 and column "Name" to "Age"
df.loc[0:6, "Name": "Age"]

      Name  Age
0  Jessica   59
1     Mary   68
2      Bob    2
3     Mary   84
4     Mary   85
5      Bob   49
6      Bob   19

In [51]:
# column slicing should be in sequential order to that 
# of columns of dataframe
df.loc[0:6, "Age": "Name"]

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6]

**Changing columns of dataframe**

In [52]:
df.columns = ["Name of people", "Age of people"]

In [53]:
df.head()

  Name of people  Age of people
0        Jessica             59
1           Mary             68
2            Bob              2
3           Mary             84
4           Mary             85

**Filtering basics**

In [54]:
# get all people whose age is less than 10
df[df["Age of people"] < 10]

    Name of people  Age of people
2              Bob              2
33         Jessica              8
57             Mel              7
64            John              6
88         Jessica              2
121            Mel              1
127        Jessica              5
146           John              5
185           Mary              3
202        Jessica              1
249            Bob              4
263        Jessica              2
269        Jessica              9
280            Bob              4
298           John              8
308           John              5
325           Mary              2
334            Mel              2
339        Jessica              3
350           Mary              3
352            Bob              3
358           Mary              3
371            Mel              1
401            Bob              6
423        Jessica              1
451           John              8
465           Mary              1
468        Jessica              4
471           Mary              8
498           Mary              5
..             ...            ...
699           Mary              8
710           Mary              7
713            Mel              8
715            Bob              6
721           Mary              6
731        Jessica              1
769           John              4
775            Mel              7
785        Jessica              1
788            Bob              7
797            Mel              8
806            Mel              9
809        Jessica              7
819           John              7
823           Mary              9
830            Mel              5
832           Mary              9
840            Mel              8
846           Mary              9
849        Jessica              8
850        Jessica              4
851           Mary              8
877           John              7
887            Mel              9
897           John              6
907            Bob              3
918           John              7
930           John              7
988            Bob              5
996        Jessica              1

[98 rows x 2 columns]

In [55]:
# get all people whose age is less than 10 or age is greater than 90
df[(df["Age of people"] < 10) | (df["Age of people"] > 90)]

    Name of people  Age of people
2              Bob              2
30            John             91
33         Jessica              8
57             Mel              7
59            John             98
64            John              6
74         Jessica             93
78            Mary             91
79             Bob             91
83         Jessica             93
88         Jessica              2
89             Mel             91
90            John             99
98             Bob             99
107           John             98
109           John             95
116            Bob             91
121            Mel              1
127        Jessica              5
130            Bob             95
135        Jessica             94
143        Jessica             93
145            Mel             97
146           John              5
155           Mary             91
166           Mary             92
167            Bob             91
169            Mel             95
179           John             95
185           Mary              3
..             ...            ...
840            Mel              8
842        Jessica             98
846           Mary              9
849        Jessica              8
850        Jessica              4
851           Mary              8
854        Jessica             94
855           Mary             99
860           John             98
871            Bob             97
873           Mary             93
877           John              7
887            Mel              9
888            Mel             93
897           John              6
903            Bob             96
907            Bob              3
908            Bob             97
918           John              7
930           John              7
940            Bob             96
951           John             99
952           John             97
956            Mel             98
957           John             95
980        Jessica             96
982            Bob             96
987           Mary             97
988            Bob              5
996        Jessica              1

[187 rows x 2 columns]

In [56]:
# get mean
df.mean()

Age of people    50.017
dtype: float64

In [57]:
# get max
df.max()

Name of people    Mel
Age of people      99
dtype: object

In [58]:
# get min
df.min()

Name of people    Bob
Age of people       1
dtype: object

In [59]:
# get median
df.median()

Age of people    50.0
dtype: float64

In [60]:
# get standard deviation
df.std()

Age of people    28.470885
dtype: float64

In [61]:
df.head()

  Name of people  Age of people
0        Jessica             59
1           Mary             68
2            Bob              2
3           Mary             84
4           Mary             85

In [62]:
df.groupby("Name of people").mean()

                Age of people
Name of people
Bob                 51.486772
Jessica             51.665049
John                50.763285
Mary                47.915423
Mel                 48.243655

In [63]:
dir(df)

['T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__invert__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_align_frame',
 '_align_series',
 '_apply_broadcast',
 '_apply_empty_result',
 '_apply_raw',
 '_apply_standard',
 '_at',
 '_box_col_values',
 '_box_item_values',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_combine_series',
 '_combine_series_infer',
 '_compare_frame',
 '_compare_frame_evaluate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_dir_additions',
 '_dir_deletions',
 '_ensure_valid_index',
 '_expand_axes',
 '_flex_compare_frame',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_numeric_data',
 '_get_values',
 '_getitem_array',
 '_getitem_column',
 '_getitem_frame',
 '_getitem_multilevel',
 '_getitem_slice',
 '_iat',
 '_iget_item_cache',
 '_iloc',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_dict',
 '_init_mgr',
 '_init_ndarray',
 '_internal_names',
 '_internal_names_set',
 '_is_cached',
 '_is_datelike_mixed_type',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_loc',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_nsorted',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_axis',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_blocks',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'blocks',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combineAdd',
 'combineMult',
 'combine_first',
 'compound',
 'consolidate',
 'convert_objects',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_csv',
 'from_dict',
 'from_items',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_value',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'icol',
 'idxmax',
 'idxmin',
 'iget_value',
 'iloc',
 'index',
 'info',
 'insert',
 'interpolate',
 'irow',
 'is_copy',
 'isin',
 'isnull',
 'items',
 'iteritems',
 'iterkv',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notnull',
 'nsmallest',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'set_value',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort',
 'sort_index',
 'sort_values',
 'sortlevel',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_panel',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']