# Task
---

1. Obtain polution dataset from worldbank
    - https://data.worldbank.org/indicator/EN.ATM.PM25.MC.ZS?view=chart
2. Create pandas dataframe from csv/excel file
    - _HINT_: `skiprows`
3. Select only useful columns
    - _HINT_: `dataframe.drop`
4. Reindex data by country code
    - _HINT_: `set_index`
5. Identify and isolate the country data you want to work on
    - country code: CAN
6. Yearly data should be rows
    - _HINT_: _transpose_
7. Cleanup missing data
    - _HINT_: `dataframe.dropna`
8. Plot data

In [9]:
filename = "csv/API_EN.ATM.PM25.MC.ZS_DS2_en_csv_v2_10580432.csv"

In [6]:
import pandas as pd

In [10]:
df = pd.read_csv(filename)

ParserError: Error tokenizing data. C error: Expected 3 fields in line 5, saw 64

In [13]:
df = pd.read_csv?

Signature:
pd.read_csv(
    filepath_or_buffer,
    sep=',',
    delimiter=None,
    header='infer',
    names=None,
    index_col=None,
    usecols=None,
    squeeze=False,
    prefix=None,
    mangle_dupe_cols=True,
    dtype=None,
    engine=None,
    converters=None,
    true_values=None,
    false_values=None,
    skipinitialspace=False,
    skiprows=None,
    skipfooter=0,
    nrows=None,
    na_values=None,
    keep_default_na=True,
    na_filter=True,
    verbose=False,
    skip_blank_lines=True,
    parse_dates=False,
    infer_datetime_format=False,
    keep_date_col=False,
    date_parser=None,
    dayfirst=False,
    iterator=False,
    chunksize=None,
    compression='infer',
    thousands=None,
    decimal=b'.',
    lineterminator=None,
    quotechar='"',
    quoting=0,
    doublequote=True,
    escapechar=None,
    comment=None,
    encoding=None,
    dialect=None,
    tupleize_cols=None,
    error_bad_lines=True,
    warn_bad_lines=True,
    delim_whitespace=False,
    low_memory=True,
    memory_map=False,
    float_precision=None,
)
Docstring:
Read a comma-separated values (csv) file into DataFrame.

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the online docs for
`IO Tools <http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

Parameters
----------
filepath_or_buffer : str, path object, or file-like object
    Any valid string path is acceptable. The string could be a URL. Valid
    URL schemes include http, ftp, s3, and file. For file URLs, a host is
    expected. A local file could be: file://localhost/path/to/table.csv.

    If you want to pass in a path object, pandas accepts either
    ``pathlib.Path`` or ``py._path.local.LocalPath``.

    By file-like object, we refer to objects with a ``read()`` method, such as
    a file handler (e.g. via builtin ``open`` function) or ``StringIO``.
sep : str, default ','
    Delimiter to use. If sep is None, the C engine cannot automatically detect
    the separator, but the Python parsing engine can, meaning the latter will
    be used and automatically detect the separator by Python's builtin sniffer
    tool, ``csv.Sniffer``. In addition, separators longer than 1 character and
    different from ``'\s+'`` will be interpreted as regular expressions and
    will also force the use of the Python parsing engine. Note that regex
    delimiters are prone to ignoring quoted data. Regex example: ``'\r\t'``.
delimiter : str, default ``None``
    Alias for sep.
header : int, list of int, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Default behavior is to infer the column names: if no names
    are passed the behavior is identical to ``header=0`` and column
    names are inferred from the first line of the file, if column
    names are passed explicitly then the behavior is identical to
    ``header=None``. Explicitly pass ``header=0`` to be able to
    replace existing names. The header can be a list of integers that
    specify row locations for a multi-index on the columns
    e.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example is skipped). Note that this
    parameter ignores commented lines and empty lines if
    ``skip_blank_lines=True``, so ``header=0`` denotes the first line of
    data rather than the first line of the file.
names : array-like, optional
    List of column names to use. If file contains no header row, then you
    should explicitly pass ``header=None``. Duplicates in this list will cause
    a ``UserWarning`` to be issued.
index_col : int, sequence or bool, optional
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider ``index_col=False`` to force pandas to
    not use the first column as the index (row names).
usecols : list-like or callable, optional
    Return a subset of the columns. If list-like, all elements must either
    be positional (i.e. integer indices into the document columns) or strings
    that correspond to column names provided either by the user in `names` or
    inferred from the document header row(s). For example, a valid list-like
    `usecols` parameter would be ``[0, 1, 2]`` or ``['foo', 'bar', 'baz']``.
    Element order is ignored, so ``usecols=[0, 1]`` is the same as ``[1, 0]``.
    To instantiate a DataFrame from ``data`` with element order preserved use
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['foo', 'bar']]`` for columns
    in ``['foo', 'bar']`` order or
    ``pd.read_csv(data, usecols=['foo', 'bar'])[['bar', 'foo']]``
    for ``['bar', 'foo']`` order.

    If callable, the callable function will be evaluated against the column
    names, returning names where the callable function evaluates to True. An
    example of a valid callable argument would be ``lambda x: x.upper() in
    ['AAA', 'BBB', 'DDD']``. Using this parameter results in much faster
    parsing time and lower memory usage.
squeeze : bool, default False
    If the parsed data only contains one column then return a Series.
prefix : str, optional
    Prefix to add to column numbers when no header, e.g. 'X' for X0, X1, ...
mangle_dupe_cols : bool, default True
    Duplicate columns will be specified as 'X', 'X.1', ...'X.N', rather than
    'X'...'X'. Passing in False will cause data to be overwritten if there
    are duplicate names in the columns.
dtype : Type name or dict of column -> type, optional
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32,
    'c': 'Int64'}
    Use `str` or `object` together with suitable `na_values` settings
    to preserve and not interpret dtype.
    If converters are specified, they will be applied INSTEAD
    of dtype conversion.
engine : {'c', 'python'}, optional
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
converters : dict, optional
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels.
true_values : list, optional
    Values to consider as True.
false_values : list, optional
    Values to consider as False.
skipinitialspace : bool, default False
    Skip spaces after delimiter.
skiprows : list-like, int or callable, optional
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file.

    If callable, the callable function will be evaluated against the row
    indices, returning True if the row should be skipped and False otherwise.
    An example of a valid callable argument would be ``lambda x: x in [0, 2]``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c').
nrows : int, optional
    Number of rows of file to read. Useful for reading pieces of large files.
na_values : scalar, str, list-like, or dict, optional
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values.  By default the following values are interpreted as
    NaN: '', '#N/A', '#N/A N/A', '#NA', '-1.#IND', '-1.#QNAN', '-NaN', '-nan',
    '1.#IND', '1.#QNAN', 'N/A', 'NA', 'NULL', 'NaN', 'n/a', 'nan',
    'null'.
keep_default_na : bool, default True
    Whether or not to include the default NaN values when parsing the data.
    Depending on whether `na_values` is passed in, the behavior is as follows:

    * If `keep_default_na` is True, and `na_values` are specified, `na_values`
      is appended to the default NaN values used for parsing.
    * If `keep_default_na` is True, and `na_values` are not specified, only
      the default NaN values are used for parsing.
    * If `keep_default_na` is False, and `na_values` are specified, only
      the NaN values specified `na_values` are used for parsing.
    * If `keep_default_na` is False, and `na_values` are not specified, no
      strings will be parsed as NaN.

    Note that if `na_filter` is passed in as False, the `keep_default_na` and
    `na_values` parameters will be ignored.
na_filter : bool, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file.
verbose : bool, default False
    Indicate number of NA values placed in non-numeric columns.
skip_blank_lines : bool, default True
    If True, skip over blank lines rather than interpreting as NaN values.
parse_dates : bool or list of int or names or list of lists or dict, default False
    The behavior is as follows:

    * boolean. If True -> try parsing the index.
    * list of int or names. e.g. If [1, 2, 3] -> try parsing columns 1, 2, 3
      each as a separate date column.
    * list of lists. e.g.  If [[1, 3]] -> combine columns 1 and 3 and parse as
      a single date column.
    * dict, e.g. {'foo' : [1, 3]} -> parse columns 1, 3 as date and call
      result 'foo'

    If a column or index cannot be represented as an array of datetimes,
    say because of an unparseable value or a mixture of timezones, the column
    or index will be returned unaltered as an object data type. For
    non-standard datetime parsing, use ``pd.to_datetime`` after
    ``pd.read_csv``. To parse an index or column with a mixture of timezones,
    specify ``date_parser`` to be a partially-applied
    :func:`pandas.to_datetime` with ``utc=True``. See
    :ref:`io.csv.mixed_timezones` for more.

    Note: A fast-path exists for iso8601-formatted dates.
infer_datetime_format : bool, default False
    If True and `parse_dates` is enabled, pandas will attempt to infer the
    format of the datetime strings in the columns, and if it can be inferred,
    switch to a faster method of parsing them. In some cases this can increase
    the parsing speed by 5-10x.
keep_date_col : bool, default False
    If True and `parse_dates` specifies combining multiple columns then
    keep the original columns.
date_parser : function, optional
    Function to use for converting a sequence of string columns to an array of
    datetime instances. The default uses ``dateutil.parser.parser`` to do the
    conversion. Pandas will try to call `date_parser` in three different ways,
    advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by `parse_dates`) as arguments; 2) concatenate (row-wise) the
    string values from the columns defined by `parse_dates` into a single array
    and pass that; and 3) call `date_parser` once for each row using one or
    more strings (corresponding to the columns defined by `parse_dates`) as
    arguments.
dayfirst : bool, default False
    DD/MM format dates, international and European format.
iterator : bool, default False
    Return TextFileReader object for iteration or getting chunks with
    ``get_chunk()``.
chunksize : int, optional
    Return TextFileReader object for iteration.
    See the `IO Tools docs
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_
    for more information on ``iterator`` and ``chunksize``.
compression : {'infer', 'gzip', 'bz2', 'zip', 'xz', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer' and
    `filepath_or_buffer` is path-like, then detect compression from the
    following extensions: '.gz', '.bz2', '.zip', or '.xz' (otherwise no
    decompression). If using 'zip', the ZIP file must contain only one data
    file to be read in. Set to None for no decompression.

    .. versionadded:: 0.18.1 support for 'zip' and 'xz' compression.

thousands : str, optional
    Thousands separator.
decimal : str, default '.'
    Character to recognize as decimal point (e.g. use ',' for European data).
lineterminator : str (length 1), optional
    Character to break file into lines. Only valid with C parser.
quotechar : str (length 1), optional
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default 0
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
doublequote : bool, default ``True``
   When quotechar is specified and quoting is not ``QUOTE_NONE``, indicate
   whether or not to interpret two consecutive quotechar elements INSIDE a
   field as a single ``quotechar`` element.
escapechar : str (length 1), optional
    One-character string used to escape other characters.
comment : str, optional
    Indicates remainder of line should not be parsed. If found at the beginning
    of a line, the line will be ignored altogether. This parameter must be a
    single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header` but not by
    `skiprows`. For example, if ``comment='#'``, parsing
    ``#empty\na,b,c\n1,2,3`` with ``header=0`` will result in 'a,b,c' being
    treated as the header.
encoding : str, optional
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_ .
dialect : str or csv.Dialect, optional
    If provided, this parameter will override values (default or not) for the
    following parameters: `delimiter`, `doublequote`, `escapechar`,
    `skipinitialspace`, `quotechar`, and `quoting`. If it is necessary to
    override values, a ParserWarning will be issued. See csv.Dialect
    documentation for more details.
tupleize_cols : bool, default False
    Leave a list of tuples on columns as is (default is to convert to
    a MultiIndex on the columns).

    .. deprecated:: 0.21.0
       This argument will be removed and will always convert to MultiIndex

error_bad_lines : bool, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned.
warn_bad_lines : bool, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output.
delim_whitespace : bool, default False
    Specifies whether or not whitespace (e.g. ``' '`` or ``'    '``) will be
    used as the sep. Equivalent to setting ``sep='\s+'``. If this option
    is set to True, nothing should be passed in for the ``delimiter``
    parameter.

    .. versionadded:: 0.18.1 support for the Python parser.

low_memory : bool, default True
    Internally process the file in chunks, resulting in lower memory use
    while parsing, but possibly mixed type inference.  To ensure no mixed
    types either set False, or specify the type with the `dtype` parameter.
    Note that the entire file is read into a single DataFrame regardless,
    use the `chunksize` or `iterator` parameter to return the data in chunks.
    (Only valid with C parser).
memory_map : bool, default False
    If a filepath is provided for `filepath_or_buffer`, map the file object
    directly onto memory and access the data directly from there. Using this
    option can improve performance because there is no longer any I/O overhead.
float_precision : str, optional
    Specifies which converter the C engine should use for floating-point
    values. The options are `None` for the ordinary converter,
    `high` for the high-precision converter, and `round_trip` for the
    round-trip converter.

Returns
-------
DataFrame or TextParser
    A comma-separated values (csv) file is returned as two-dimensional
    data structure with labeled axes.

See Also
--------
to_csv : Write DataFrame to a comma-separated values (csv) file.
read_csv : Read a comma-separated values (csv) file into DataFrame.
read_fwf : Read a table of fixed-width formatted lines into DataFrame.

Examples
--------
>>> pd.read_csv('data.csv')  # doctest: +SKIP
File:      /usr/lib/python3.7/site-packages/pandas/io/parsers.py
Type:      function

In [14]:
df = pd.read_csv(filename, skiprows=3)

In [15]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
2,Angola,AGO,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
3,Albania,ALB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.956636,100.000000,99.955997,97.685959,16.598980,90.848063,17.419558,17.824459,NaN,NaN
5,Arab World,ARB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
6,United Arab Emirates,ARE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
7,Argentina,ARG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.447641,99.530413,99.217689,99.026464,98.314064,98.021929,94.139460,93.852825,NaN,NaN
8,Armenia,ARM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
9,American Samoa,ASM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
10,Antigua and Barbuda,ATG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
11,Australia,AUS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.970973,36.323423,30.654543,28.274059,27.105514,26.046667,24.904209,24.893584,NaN,NaN
12,Austria,AUT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.451542,99.257171,97.410143,95.768355,93.785672,91.474465,85.015935,85.051538,NaN,NaN
13,Azerbaijan,AZE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
14,Burundi,BDI,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
15,Belgium,BEL,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.495589,99.354742,98.428110,96.802293,94.489152,95.104345,91.789115,91.948540,NaN,NaN
16,Benin,BEN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
17,Burkina Faso,BFA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
18,Bangladesh,BGD,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
19,Bulgaria,BGR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.964390,99.964650,99.964938,99.965279,99.965703,99.966232,99.893493,99.894674,NaN,NaN
20,Bahrain,BHR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
21,"Bahamas, The",BHS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
22,Bosnia and Herzegovina,BIH,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.955447,99.955235,NaN,NaN
23,Belarus,BLR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.931352,NaN,NaN
24,Belize,BLZ,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
25,Bermuda,BMU,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
26,Bolivia,BOL,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,99.999732,99.997486,99.999132,NaN,NaN
27,Brazil,BRA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,90.938123,91.928375,86.829230,85.334714,77.116473,74.927752,67.952559,68.135030,NaN,NaN
28,Barbados,BRB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
29,Brunei Darussalam,BRN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767244,1.767920,1.768518,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.734397,97.135325,95.206486,94.609503,91.452333,90.563311,87.502792,87.515033,NaN,NaN
235,Timor-Leste,TLS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
237,Tonga,TON,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.806417,99.812592,NaN,NaN
238,South Asia (IDA & IBRD),TSA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,99.976290,99.976012,99.604429,99.322571,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
240,Trinidad and Tobago,TTO,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
241,Tunisia,TUN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
242,Turkey,TUR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
243,Tuvalu,TUV,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
245,Uganda,UGA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
246,Ukraine,UKR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
247,Upper middle income,UMC,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.993347,99.053217,98.607375,98.313444,97.519004,97.261698,96.517858,96.513554,NaN,NaN
248,Uruguay,URY,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.458456,93.261907,60.508430,55.389944,28.735781,26.444157,22.395243,22.385745,NaN,NaN
249,United States,USA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.213032,46.686199,28.658081,20.840557,11.731297,8.465307,3.334436,3.343170,NaN,NaN
250,Uzbekistan,UZB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
251,St. Vincent and the Grenadines,VCT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
252,"Venezuela, RB",VEN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,99.999913,99.997750,99.995083,99.933079,99.933662,NaN,NaN
253,British Virgin Islands,VGB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,50.000000,50.000000,40.000000,40.000000,NaN,NaN
255,Vietnam,VNM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
256,Vanuatu,VUT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
257,World,WLD,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.150440,95.778880,94.477636,93.737772,92.671838,92.599175,91.322258,91.306420,NaN,NaN
258,Samoa,WSM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
259,Kosovo,XKX,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
261,South Africa,ZAF,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
262,Zambia,ZMB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
263,Zimbabwe,ZWE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [19]:
df.dropna?

Signature: df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=False)
Docstring:
Remove missing values.

See the :ref:`User Guide <missing_data>` for more on which values are
considered missing, and how to work with missing data.

Parameters
----------
axis : {0 or 'index', 1 or 'columns'}, default 0
    Determine if rows or columns which contain missing values are
    removed.

    * 0, or 'index' : Drop rows which contain missing values.
    * 1, or 'columns' : Drop columns which contain missing value.

    .. deprecated:: 0.23.0

       Pass tuple or list to drop on multiple axes.
       Only a single axis is allowed.

how : {'any', 'all'}, default 'any'
    Determine if row or column is removed from DataFrame, when we have
    at least one NA or all NA.

    * 'any' : If any NA values are present, drop that row or column.
    * 'all' : If all values are NA, drop that row or column.

thresh : int, optional
    Require that many non-NA values.
subset : array-like, optional
    Labels along other axis to consider, e.g. if you are dropping rows
    these would be a list of columns to include.
inplace : bool, default False
    If True, do operation inplace and return None.

Returns
-------
DataFrame
    DataFrame with NA entries dropped from it.

See Also
--------
DataFrame.isna: Indicate missing values.
DataFrame.notna : Indicate existing (non-missing) values.
DataFrame.fillna : Replace missing values.
Series.dropna : Drop missing values.
Index.dropna : Drop missing indices.

Examples
--------
>>> df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Catwoman'],
...                    "toy": [np.nan, 'Batmobile', 'Bullwhip'],
...                    "born": [pd.NaT, pd.Timestamp("1940-04-25"),
...                             pd.NaT]})
>>> df
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Drop the rows where at least one element is missing.

>>> df.dropna()
     name        toy       born
1  Batman  Batmobile 1940-04-25

Drop the columns where at least one element is missing.

>>> df.dropna(axis='columns')
       name
0    Alfred
1    Batman
2  Catwoman

Drop the rows where all elements are missing.

>>> df.dropna(how='all')
       name        toy       born
0    Alfred        NaN        NaT
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Keep only the rows with at least 2 non-NA values.

>>> df.dropna(thresh=2)
       name        toy       born
1    Batman  Batmobile 1940-04-25
2  Catwoman   Bullwhip        NaT

Define in which columns to look for missing values.

>>> df.dropna(subset=['name', 'born'])
       name        toy       born
1    Batman  Batmobile 1940-04-25

Keep the DataFrame with valid entries in the same variable.

>>> df.dropna(inplace=True)
>>> df
     name        toy       born
1  Batman  Batmobile 1940-04-25
File:      /usr/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [20]:
df.dropna()

Empty DataFrame
Columns: [Country Name, Country Code, Indicator Name, Indicator Code, 1960, 1961, 1962, 1963, 1964, 1965, 1966, 1967, 1968, 1969, 1970, 1971, 1972, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1980, 1981, 1982, 1983, 1984, 1985, 1986, 1987, 1988, 1989, 1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, Unnamed: 63]
Index: []

[0 rows x 64 columns]

In [21]:
df.dropna(axis=1)

,Country Name,Country Code,Indicator Name,Indicator Code
0,Aruba,ABW,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
1,Afghanistan,AFG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
2,Angola,AGO,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
3,Albania,ALB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
4,Andorra,AND,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
5,Arab World,ARB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
6,United Arab Emirates,ARE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
7,Argentina,ARG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
8,Armenia,ARM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
9,American Samoa,ASM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
10,Antigua and Barbuda,ATG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
11,Australia,AUS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
12,Austria,AUT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
13,Azerbaijan,AZE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
14,Burundi,BDI,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
15,Belgium,BEL,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
16,Benin,BEN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
17,Burkina Faso,BFA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
18,Bangladesh,BGD,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
19,Bulgaria,BGR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
20,Bahrain,BHR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
21,"Bahamas, The",BHS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
22,Bosnia and Herzegovina,BIH,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
23,Belarus,BLR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
24,Belize,BLZ,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
25,Bermuda,BMU,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
26,Bolivia,BOL,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
27,Brazil,BRA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
28,Barbados,BRB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
29,Brunei Darussalam,BRN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
235,Timor-Leste,TLS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
236,Middle East & North Africa (IDA & IBRD countries),TMN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
237,Tonga,TON,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
238,South Asia (IDA & IBRD),TSA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
240,Trinidad and Tobago,TTO,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
241,Tunisia,TUN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
242,Turkey,TUR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
243,Tuvalu,TUV,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
244,Tanzania,TZA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
245,Uganda,UGA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
246,Ukraine,UKR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
247,Upper middle income,UMC,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
248,Uruguay,URY,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
249,United States,USA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
250,Uzbekistan,UZB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
251,St. Vincent and the Grenadines,VCT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
252,"Venezuela, RB",VEN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
253,British Virgin Islands,VGB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
254,Virgin Islands (U.S.),VIR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
255,Vietnam,VNM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
256,Vanuatu,VUT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
257,World,WLD,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
258,Samoa,WSM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
259,Kosovo,XKX,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
260,"Yemen, Rep.",YEM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
261,South Africa,ZAF,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
262,Zambia,ZMB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS
263,Zimbabwe,ZWE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS

In [22]:
df.T

,0,1,2,3,4,5,6,7,8,9,...,254,255,256,257,258,259,260,261,262,263
Country Name,Aruba,Afghanistan,Angola,Albania,Andorra,Arab World,United Arab Emirates,Argentina,Armenia,American Samoa,...,Virgin Islands (U.S.),Vietnam,Vanuatu,World,Samoa,Kosovo,"Yemen, Rep.",South Africa,Zambia,Zimbabwe
Country Code,ABW,AFG,AGO,ALB,AND,ARB,ARE,ARG,ARM,ASM,...,VIR,VNM,VUT,WLD,WSM,XKX,YEM,ZAF,ZMB,ZWE
Indicator Name,"PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...",...,"PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev...","PM2.5 air pollution, population exposed to lev..."
Indicator Code,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,...,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS,EN.ATM.PM25.MC.ZS
1960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1961,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1962,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1963,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1964,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1965,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1966,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1967,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1968,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1969,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1990,NaN,100,100,100,100,100,100,99.6067,100,100,...,50,100,100,95.3222,100,NaN,100,100,100,100
1991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,NaN,100,100,100,99.9842,100,100,99.581,100,100,...,50,100,100,95.1804,100,NaN,100,100,100,100
1996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,NaN,100,100,100,99.9574,100,100,99.55,100,100,...,100,100,100,95.2169,100,NaN,100,100,100,100
2001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,NaN,100,100,100,100,100,100,99.4115,100,100,...,100,100,100,95.4415,100,NaN,100,100,100,100
2006,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,NaN,100,100,100,99.9566,100,100,99.4476,100,100,...,100,100,100,95.1504,100,NaN,100,100,100,100
2011,NaN,100,100,100,100,100,100,99.5304,100,100,...,100,100,100,95.7789,100,NaN,100,100,100,100
2012,NaN,100,100,100,99.956,100,100,99.2177,100,100,...,100,100,100,94.4776,100,NaN,100,100,100,100
2013,NaN,100,100,100,97.686,100,100,99.0265,100,100,...,100,100,100,93.7378,100,NaN,100,100,100,100
2014,NaN,100,100,100,16.599,100,100,98.3141,100,100,...,50,100,100,92.6718,100,NaN,100,100,100,100
2015,NaN,100,100,100,90.8481,100,100,98.0219,100,100,...,50,100,100,92.5992,100,NaN,100,100,100,100
2016,NaN,100,100,100,17.4196,100,100,94.1395,100,100,...,40,100,100,91.3223,100,NaN,100,100,100,100
2017,NaN,100,100,100,17.8245,100,100,93.8528,100,100,...,40,100,100,91.3064,100,NaN,100,100,100,100
2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 63,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:
df.fillna?

Signature:
df.fillna(
    value=None,
    method=None,
    axis=None,
    inplace=False,
    limit=None,
    downcast=None,
    **kwargs,
)
Docstring:
Fill NA/NaN values using the specified method.

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a
    dict/Series/DataFrame of values specifying which value to use for
    each index (for a Series) or column (for a DataFrame). (values not
    in the dict/Series/DataFrame will not be filled). This value cannot
    be a list.
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use NEXT valid observation to fill gap
axis : {0 or 'index', 1 or 'columns'}
inplace : boolean, default False
    If True, fill in place. Note: this will modify any
    other views on this object, (e.g. a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled. Must be greater than 0 if not None.
downcast : dict, default is None
    a dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible)

Returns
-------
filled : DataFrame

See Also
--------
interpolate : Fill NaN values using interpolation.
reindex, asfreq

Examples
--------
>>> df = pd.DataFrame([[np.nan, 2, np.nan, 0],
...                    [3, 4, np.nan, 1],
...                    [np.nan, np.nan, np.nan, 5],
...                    [np.nan, 3, np.nan, 4]],
...                    columns=list('ABCD'))
>>> df
     A    B   C  D
0  NaN  2.0 NaN  0
1  3.0  4.0 NaN  1
2  NaN  NaN NaN  5
3  NaN  3.0 NaN  4

Replace all NaN elements with 0s.

>>> df.fillna(0)
    A   B   C   D
0   0.0 2.0 0.0 0
1   3.0 4.0 0.0 1
2   0.0 0.0 0.0 5
3   0.0 3.0 0.0 4

We can also propagate non-null values forward or backward.

>>> df.fillna(method='ffill')
    A   B   C   D
0   NaN 2.0 NaN 0
1   3.0 4.0 NaN 1
2   3.0 4.0 NaN 5
3   3.0 3.0 NaN 4

Replace all NaN elements in column 'A', 'B', 'C', and 'D', with 0, 1,
2, and 3 respectively.

>>> values = {'A': 0, 'B': 1, 'C': 2, 'D': 3}
>>> df.fillna(value=values)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 2.0 1
2   0.0 1.0 2.0 5
3   0.0 3.0 2.0 4

Only replace the first NaN element.

>>> df.fillna(value=values, limit=1)
    A   B   C   D
0   0.0 2.0 2.0 0
1   3.0 4.0 NaN 1
2   NaN 1.0 NaN 5
3   NaN 3.0 NaN 4
File:      /usr/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [24]:
df.drop?

Signature:
df.drop(
    labels=None,
    axis=0,
    index=None,
    columns=None,
    level=None,
    inplace=False,
    errors='raise',
)
Docstring:
Drop specified labels from rows or columns.

Remove rows or columns by specifying label names and corresponding
axis, or by specifying directly index or column names. When using a
multi-index, labels on different levels can be removed by specifying
the level.

Parameters
----------
labels : single label or list-like
    Index or column labels to drop.
axis : {0 or 'index', 1 or 'columns'}, default 0
    Whether to drop labels from the index (0 or 'index') or
    columns (1 or 'columns').
index, columns : single label or list-like
    Alternative to specifying axis (``labels, axis=1``
    is equivalent to ``columns=labels``).

    .. versionadded:: 0.21.0
level : int or level name, optional
    For MultiIndex, level from which the labels will be removed.
inplace : bool, default False
    If True, do operation inplace and return None.
errors : {'ignore', 'raise'}, default 'raise'
    If 'ignore', suppress error and only existing labels are
    dropped.

Returns
-------
dropped : pandas.DataFrame

Raises
------
KeyError
    If none of the labels are found in the selected axis

See Also
--------
DataFrame.loc : Label-location based indexer for selection by label.
DataFrame.dropna : Return DataFrame with labels on given axis omitted
    where (all or any) data are missing.
DataFrame.drop_duplicates : Return DataFrame with duplicate rows
    removed, optionally only considering certain columns.
Series.drop : Return Series with specified index labels removed.

Examples
--------
>>> df = pd.DataFrame(np.arange(12).reshape(3,4),
...                   columns=['A', 'B', 'C', 'D'])
>>> df
   A  B   C   D
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

Drop columns

>>> df.drop(['B', 'C'], axis=1)
   A   D
0  0   3
1  4   7
2  8  11

>>> df.drop(columns=['B', 'C'])
   A   D
0  0   3
1  4   7
2  8  11

Drop a row by index

>>> df.drop([0, 1])
   A  B   C   D
2  8  9  10  11

Drop columns and/or rows of MultiIndex DataFrame

>>> midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
...                              ['speed', 'weight', 'length']],
...                      codes=[[0, 0, 0, 1, 1, 1, 2, 2, 2],
...                             [0, 1, 2, 0, 1, 2, 0, 1, 2]])
>>> df = pd.DataFrame(index=midx, columns=['big', 'small'],
...                   data=[[45, 30], [200, 100], [1.5, 1], [30, 20],
...                         [250, 150], [1.5, 0.8], [320, 250],
...                         [1, 0.8], [0.3,0.2]])
>>> df
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
        length  1.5     1.0
cow     speed   30.0    20.0
        weight  250.0   150.0
        length  1.5     0.8
falcon  speed   320.0   250.0
        weight  1.0     0.8
        length  0.3     0.2

>>> df.drop(index='cow', columns='small')
                big
lama    speed   45.0
        weight  200.0
        length  1.5
falcon  speed   320.0
        weight  1.0
        length  0.3

>>> df.drop(index='length', level=1)
                big     small
lama    speed   45.0    30.0
        weight  200.0   100.0
cow     speed   30.0    20.0
        weight  250.0   150.0
falcon  speed   320.0   250.0
        weight  1.0     0.8
File:      /usr/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [39]:
df[df["Country Code"] == "CAN"].T

                                                               33
Country Name                                               Canada
Country Code                                                  CAN
Indicator Name  PM2.5 air pollution, population exposed to lev...
Indicator Code                                  EN.ATM.PM25.MC.ZS
1960                                                          NaN
1961                                                          NaN
1962                                                          NaN
1963                                                          NaN
1964                                                          NaN
1965                                                          NaN
1966                                                          NaN
1967                                                          NaN
1968                                                          NaN
1969                                                          NaN
1970                                                          NaN
1971                                                          NaN
1972                                                          NaN
1973                                                          NaN
1974                                                          NaN
1975                                                          NaN
1976                                                          NaN
1977                                                          NaN
1978                                                          NaN
1979                                                          NaN
1980                                                          NaN
1981                                                          NaN
1982                                                          NaN
1983                                                          NaN
1984                                                          NaN
1985                                                          NaN
...                                                           ...
1990                                                      16.2129
1991                                                          NaN
1992                                                          NaN
1993                                                          NaN
1994                                                          NaN
1995                                                      12.9122
1996                                                          NaN
1997                                                          NaN
1998                                                          NaN
1999                                                          NaN
2000                                                      11.0213
2001                                                          NaN
2002                                                          NaN
2003                                                          NaN
2004                                                          NaN
2005                                                      19.6027
2006                                                          NaN
2007                                                          NaN
2008                                                          NaN
2009                                                          NaN
2010                                                      13.6672
2011                                                      18.7208
2012                                                      8.33818
2013                                                      6.63033
2014                                                      2.02339
2015                                                     0.725554
2016                                                            0
2017                                                            0
2018                                                          NaN
Unnamed: 63                                                   NaN

[64 rows x 1 columns]

In [40]:
df.set_index?

Signature:
df.set_index(
    keys,
    drop=True,
    append=False,
    inplace=False,
    verify_integrity=False,
)
Docstring:
Set the DataFrame index using existing columns.

Set the DataFrame index (row labels) using one or more existing
columns or arrays (of the correct length). The index can replace the
existing index or expand on it.

Parameters
----------
keys : label or array-like or list of labels/arrays
    This parameter can be either a single column key, a single array of
    the same length as the calling DataFrame, or a list containing an
    arbitrary combination of column keys and arrays. Here, "array"
    encompasses :class:`Series`, :class:`Index` and ``np.ndarray``.
drop : bool, default True
    Delete columns to be used as the new index.
append : bool, default False
    Whether to append columns to existing index.
inplace : bool, default False
    Modify the DataFrame in place (do not create a new object).
verify_integrity : bool, default False
    Check the new index for duplicates. Otherwise defer the check until
    necessary. Setting to False will improve the performance of this
    method.

Returns
-------
DataFrame
    Changed row labels.

See Also
--------
DataFrame.reset_index : Opposite of set_index.
DataFrame.reindex : Change to new indices or expand indices.
DataFrame.reindex_like : Change to same indices as other DataFrame.

Examples
--------
>>> df = pd.DataFrame({'month': [1, 4, 7, 10],
...                    'year': [2012, 2014, 2013, 2014],
...                    'sale': [55, 40, 84, 31]})
>>> df
   month  year  sale
0      1  2012    55
1      4  2014    40
2      7  2013    84
3     10  2014    31

Set the index to become the 'month' column:

>>> df.set_index('month')
       year  sale
month
1      2012    55
4      2014    40
7      2013    84
10     2014    31

Create a MultiIndex using columns 'year' and 'month':

>>> df.set_index(['year', 'month'])
            sale
year  month
2012  1     55
2014  4     40
2013  7     84
2014  10    31

Create a MultiIndex using an Index and a column:

>>> df.set_index([pd.Index([1, 2, 3, 4]), 'year'])
         month  sale
   year
1  2012  1      55
2  2014  4      40
3  2013  7      84
4  2014  10     31

Create a MultiIndex using two Series:

>>> s = pd.Series([1, 2, 3, 4])
>>> df.set_index([s, s**2])
      month  year  sale
1 1       1  2012    55
2 4       4  2014    40
3 9       7  2013    84
4 16     10  2014    31
File:      /usr/lib/python3.7/site-packages/pandas/core/frame.py
Type:      method

In [43]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,Aruba,ABW,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
2,Angola,AGO,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
3,Albania,ALB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,Andorra,AND,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.956636,100.000000,99.955997,97.685959,16.598980,90.848063,17.419558,17.824459,NaN,NaN
5,Arab World,ARB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
6,United Arab Emirates,ARE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
7,Argentina,ARG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.447641,99.530413,99.217689,99.026464,98.314064,98.021929,94.139460,93.852825,NaN,NaN
8,Armenia,ARM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
9,American Samoa,ASM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
10,Antigua and Barbuda,ATG,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
11,Australia,AUS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,32.970973,36.323423,30.654543,28.274059,27.105514,26.046667,24.904209,24.893584,NaN,NaN
12,Austria,AUT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.451542,99.257171,97.410143,95.768355,93.785672,91.474465,85.015935,85.051538,NaN,NaN
13,Azerbaijan,AZE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
14,Burundi,BDI,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
15,Belgium,BEL,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.495589,99.354742,98.428110,96.802293,94.489152,95.104345,91.789115,91.948540,NaN,NaN
16,Benin,BEN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
17,Burkina Faso,BFA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
18,Bangladesh,BGD,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
19,Bulgaria,BGR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,99.964390,99.964650,99.964938,99.965279,99.965703,99.966232,99.893493,99.894674,NaN,NaN
20,Bahrain,BHR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
21,"Bahamas, The",BHS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
22,Bosnia and Herzegovina,BIH,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.955447,99.955235,NaN,NaN
23,Belarus,BLR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.931352,NaN,NaN
24,Belize,BLZ,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
25,Bermuda,BMU,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
26,Bolivia,BOL,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,99.999732,99.997486,99.999132,NaN,NaN
27,Brazil,BRA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,90.938123,91.928375,86.829230,85.334714,77.116473,74.927752,67.952559,68.135030,NaN,NaN
28,Barbados,BRB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
29,Brunei Darussalam,BRN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767244,1.767920,1.768518,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,Latin America & the Caribbean (IDA & IBRD coun...,TLA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,96.734397,97.135325,95.206486,94.609503,91.452333,90.563311,87.502792,87.515033,NaN,NaN
235,Timor-Leste,TLS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
236,Middle East & North Africa (IDA & IBRD countries),TMN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
237,Tonga,TON,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.806417,99.812592,NaN,NaN
238,South Asia (IDA & IBRD),TSA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,99.976290,99.976012,99.604429,99.322571,NaN,NaN
239,Sub-Saharan Africa (IDA & IBRD countries),TSS,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
240,Trinidad and Tobago,TTO,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
241,Tunisia,TUN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
242,Turkey,TUR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
243,Tuvalu,TUV,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,Tanzania,TZA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
245,Uganda,UGA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
246,Ukraine,UKR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
247,Upper middle income,UMC,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,98.993347,99.053217,98.607375,98.313444,97.519004,97.261698,96.517858,96.513554,NaN,NaN
248,Uruguay,URY,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,85.458456,93.261907,60.508430,55.389944,28.735781,26.444157,22.395243,22.385745,NaN,NaN
249,United States,USA,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,38.213032,46.686199,28.658081,20.840557,11.731297,8.465307,3.334436,3.343170,NaN,NaN
250,Uzbekistan,UZB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
251,St. Vincent and the Grenadines,VCT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
252,"Venezuela, RB",VEN,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,99.999913,99.997750,99.995083,99.933079,99.933662,NaN,NaN
253,British Virgin Islands,VGB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Virgin Islands (U.S.),VIR,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,50.000000,50.000000,40.000000,40.000000,NaN,NaN
255,Vietnam,VNM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
256,Vanuatu,VUT,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
257,World,WLD,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,95.150440,95.778880,94.477636,93.737772,92.671838,92.599175,91.322258,91.306420,NaN,NaN
258,Samoa,WSM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
259,Kosovo,XKX,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",YEM,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
261,South Africa,ZAF,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
262,Zambia,ZMB,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
263,Zimbabwe,ZWE,"PM2.5 air pollution, population exposed to lev...",EN.ATM.PM25.MC.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [45]:
df.drop(columns=["Country Name", "Indicator Name", "Indicator Code"],
        inplace=True)

In [46]:
df

,Country Code,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
2,AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
3,ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
4,AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.956636,100.000000,99.955997,97.685959,16.598980,90.848063,17.419558,17.824459,NaN,NaN
5,ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
6,ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
7,ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.447641,99.530413,99.217689,99.026464,98.314064,98.021929,94.139460,93.852825,NaN,NaN
8,ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
9,ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
10,ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
11,AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.970973,36.323423,30.654543,28.274059,27.105514,26.046667,24.904209,24.893584,NaN,NaN
12,AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.451542,99.257171,97.410143,95.768355,93.785672,91.474465,85.015935,85.051538,NaN,NaN
13,AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
14,BDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
15,BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.495589,99.354742,98.428110,96.802293,94.489152,95.104345,91.789115,91.948540,NaN,NaN
16,BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
17,BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
18,BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
19,BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.964390,99.964650,99.964938,99.965279,99.965703,99.966232,99.893493,99.894674,NaN,NaN
20,BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
21,BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
22,BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.955447,99.955235,NaN,NaN
23,BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.931352,NaN,NaN
24,BLZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
25,BMU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
26,BOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,99.999732,99.997486,99.999132,NaN,NaN
27,BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.938123,91.928375,86.829230,85.334714,77.116473,74.927752,67.952559,68.135030,NaN,NaN
28,BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
29,BRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767244,1.767920,1.768518,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234,TLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.734397,97.135325,95.206486,94.609503,91.452333,90.563311,87.502792,87.515033,NaN,NaN
235,TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
236,TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
237,TON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.806417,99.812592,NaN,NaN
238,TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,99.976290,99.976012,99.604429,99.322571,NaN,NaN
239,TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
240,TTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
241,TUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
242,TUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
243,TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
244,TZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
245,UGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
246,UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
247,UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.993347,99.053217,98.607375,98.313444,97.519004,97.261698,96.517858,96.513554,NaN,NaN
248,URY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.458456,93.261907,60.508430,55.389944,28.735781,26.444157,22.395243,22.385745,NaN,NaN
249,USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.213032,46.686199,28.658081,20.840557,11.731297,8.465307,3.334436,3.343170,NaN,NaN
250,UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
251,VCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
252,VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,99.999913,99.997750,99.995083,99.933079,99.933662,NaN,NaN
253,VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,50.000000,50.000000,40.000000,40.000000,NaN,NaN
255,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
256,VUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
257,WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.150440,95.778880,94.477636,93.737772,92.671838,92.599175,91.322258,91.306420,NaN,NaN
258,WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
259,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
261,ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
262,ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
263,ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [47]:
df.set_index("Country Code", inplace=True)

In [48]:
df

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
AGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ALB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
AND,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.956636,100.000000,99.955997,97.685959,16.598980,90.848063,17.419558,17.824459,NaN,NaN
ARB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ARE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ARG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.447641,99.530413,99.217689,99.026464,98.314064,98.021929,94.139460,93.852825,NaN,NaN
ARM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ASM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ATG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
AUS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.970973,36.323423,30.654543,28.274059,27.105514,26.046667,24.904209,24.893584,NaN,NaN
AUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.451542,99.257171,97.410143,95.768355,93.785672,91.474465,85.015935,85.051538,NaN,NaN
AZE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BDI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BEL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.495589,99.354742,98.428110,96.802293,94.489152,95.104345,91.789115,91.948540,NaN,NaN
BEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BFA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BGD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BGR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,99.964390,99.964650,99.964938,99.965279,99.965703,99.966232,99.893493,99.894674,NaN,NaN
BHR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BHS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BIH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.955447,99.955235,NaN,NaN
BLR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.931352,NaN,NaN
BLZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BMU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BOL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,99.999732,99.997486,99.999132,NaN,NaN
BRA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,90.938123,91.928375,86.829230,85.334714,77.116473,74.927752,67.952559,68.135030,NaN,NaN
BRB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
BRN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.767244,1.767920,1.768518,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
TLA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,96.734397,97.135325,95.206486,94.609503,91.452333,90.563311,87.502792,87.515033,NaN,NaN
TLS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
TMN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
TON,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,99.806417,99.812592,NaN,NaN
TSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,99.976290,99.976012,99.604429,99.322571,NaN,NaN
TSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
TTO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
TUN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
TUR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
TUV,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
TZA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
UGA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
UKR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
UMC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,98.993347,99.053217,98.607375,98.313444,97.519004,97.261698,96.517858,96.513554,NaN,NaN
URY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,85.458456,93.261907,60.508430,55.389944,28.735781,26.444157,22.395243,22.385745,NaN,NaN
USA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.213032,46.686199,28.658081,20.840557,11.731297,8.465307,3.334436,3.343170,NaN,NaN
UZB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
VCT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
VEN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,99.999913,99.997750,99.995083,99.933079,99.933662,NaN,NaN
VGB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
VIR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,50.000000,50.000000,40.000000,40.000000,NaN,NaN
VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
VUT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
WLD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,95.150440,95.778880,94.477636,93.737772,92.671838,92.599175,91.322258,91.306420,NaN,NaN
WSM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ZAF,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ZMB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN
ZWE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,100.000000,NaN,NaN

In [53]:
mdf = df.loc[["CAN"]]

In [55]:
ndf = mdf.T

In [56]:
ndf

Country Code        CAN
1960                NaN
1961                NaN
1962                NaN
1963                NaN
1964                NaN
1965                NaN
1966                NaN
1967                NaN
1968                NaN
1969                NaN
1970                NaN
1971                NaN
1972                NaN
1973                NaN
1974                NaN
1975                NaN
1976                NaN
1977                NaN
1978                NaN
1979                NaN
1980                NaN
1981                NaN
1982                NaN
1983                NaN
1984                NaN
1985                NaN
1986                NaN
1987                NaN
1988                NaN
1989                NaN
1990          16.212916
1991                NaN
1992                NaN
1993                NaN
1994                NaN
1995          12.912231
1996                NaN
1997                NaN
1998                NaN
1999                NaN
2000          11.021317
2001                NaN
2002                NaN
2003                NaN
2004                NaN
2005          19.602682
2006                NaN
2007                NaN
2008                NaN
2009                NaN
2010          13.667218
2011          18.720819
2012           8.338184
2013           6.630327
2014           2.023392
2015           0.725554
2016           0.000000
2017           0.000000
2018                NaN
Unnamed: 63         NaN

In [57]:
ndf.columns

Index(['CAN'], dtype='object', name='Country Code')

In [58]:
ndf.index

Index(['1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', 'Unnamed: 63'],
      dtype='object')

In [59]:
ndf.index.names

FrozenList([None])

In [60]:
ndf.columns.names

FrozenList(['Country Code'])

In [61]:
ndf

Country Code        CAN
1960                NaN
1961                NaN
1962                NaN
1963                NaN
1964                NaN
1965                NaN
1966                NaN
1967                NaN
1968                NaN
1969                NaN
1970                NaN
1971                NaN
1972                NaN
1973                NaN
1974                NaN
1975                NaN
1976                NaN
1977                NaN
1978                NaN
1979                NaN
1980                NaN
1981                NaN
1982                NaN
1983                NaN
1984                NaN
1985                NaN
1986                NaN
1987                NaN
1988                NaN
1989                NaN
1990          16.212916
1991                NaN
1992                NaN
1993                NaN
1994                NaN
1995          12.912231
1996                NaN
1997                NaN
1998                NaN
1999                NaN
2000          11.021317
2001                NaN
2002                NaN
2003                NaN
2004                NaN
2005          19.602682
2006                NaN
2007                NaN
2008                NaN
2009                NaN
2010          13.667218
2011          18.720819
2012           8.338184
2013           6.630327
2014           2.023392
2015           0.725554
2016           0.000000
2017           0.000000
2018                NaN
Unnamed: 63         NaN

In [62]:
ndf.index.names = ["Year"]

In [63]:
ndf

Country Code        CAN
Year
1960                NaN
1961                NaN
1962                NaN
1963                NaN
1964                NaN
1965                NaN
1966                NaN
1967                NaN
1968                NaN
1969                NaN
1970                NaN
1971                NaN
1972                NaN
1973                NaN
1974                NaN
1975                NaN
1976                NaN
1977                NaN
1978                NaN
1979                NaN
1980                NaN
1981                NaN
1982                NaN
1983                NaN
1984                NaN
1985                NaN
1986                NaN
1987                NaN
1988                NaN
1989                NaN
1990          16.212916
1991                NaN
1992                NaN
1993                NaN
1994                NaN
1995          12.912231
1996                NaN
1997                NaN
1998                NaN
1999                NaN
2000          11.021317
2001                NaN
2002                NaN
2003                NaN
2004                NaN
2005          19.602682
2006                NaN
2007                NaN
2008                NaN
2009                NaN
2010          13.667218
2011          18.720819
2012           8.338184
2013           6.630327
2014           2.023392
2015           0.725554
2016           0.000000
2017           0.000000
2018                NaN
Unnamed: 63         NaN

In [66]:
ndf.columns = ["percentage"]

In [67]:
ndf

             percentage
Year
1960                NaN
1961                NaN
1962                NaN
1963                NaN
1964                NaN
1965                NaN
1966                NaN
1967                NaN
1968                NaN
1969                NaN
1970                NaN
1971                NaN
1972                NaN
1973                NaN
1974                NaN
1975                NaN
1976                NaN
1977                NaN
1978                NaN
1979                NaN
1980                NaN
1981                NaN
1982                NaN
1983                NaN
1984                NaN
1985                NaN
1986                NaN
1987                NaN
1988                NaN
1989                NaN
1990          16.212916
1991                NaN
1992                NaN
1993                NaN
1994                NaN
1995          12.912231
1996                NaN
1997                NaN
1998                NaN
1999                NaN
2000          11.021317
2001                NaN
2002                NaN
2003                NaN
2004                NaN
2005          19.602682
2006                NaN
2007                NaN
2008                NaN
2009                NaN
2010          13.667218
2011          18.720819
2012           8.338184
2013           6.630327
2014           2.023392
2015           0.725554
2016           0.000000
2017           0.000000
2018                NaN
Unnamed: 63         NaN

In [68]:
ndf.columns.names

FrozenList([None])

In [69]:
ndf.columns.names = ["CAN"]

In [70]:
ndf

CAN          percentage
Year
1960                NaN
1961                NaN
1962                NaN
1963                NaN
1964                NaN
1965                NaN
1966                NaN
1967                NaN
1968                NaN
1969                NaN
1970                NaN
1971                NaN
1972                NaN
1973                NaN
1974                NaN
1975                NaN
1976                NaN
1977                NaN
1978                NaN
1979                NaN
1980                NaN
1981                NaN
1982                NaN
1983                NaN
1984                NaN
1985                NaN
1986                NaN
1987                NaN
1988                NaN
1989                NaN
1990          16.212916
1991                NaN
1992                NaN
1993                NaN
1994                NaN
1995          12.912231
1996                NaN
1997                NaN
1998                NaN
1999                NaN
2000          11.021317
2001                NaN
2002                NaN
2003                NaN
2004                NaN
2005          19.602682
2006                NaN
2007                NaN
2008                NaN
2009                NaN
2010          13.667218
2011          18.720819
2012           8.338184
2013           6.630327
2014           2.023392
2015           0.725554
2016           0.000000
2017           0.000000
2018                NaN
Unnamed: 63         NaN

# Task 2
---

- Use two separate indicators like, urban population, rural population, agriculture land
- clean both datasets merge them
- find out correlation between such indicators