In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
sns.set()

In [3]:
diamonds = sns.load_dataset("diamonds")

In [4]:
diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [5]:
diamonds.shape

(53940, 10)

In [8]:
df = pd.read_csv(
    "~/Downloads/bitcoin-historical-data/coinbaseUSD_1-min_data_2014-12-01_to_2019-01-09.csv"
)

In [9]:
df.shape

(2099760, 8)

In [10]:
df.head()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
0,1417411980,300.0,300.0,300.0,300.0,0.01,3.0,300.0
1,1417412040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1417412100,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1417412160,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1417412220,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.tail()

,Timestamp,Open,High,Low,Close,Volume_(BTC),Volume_(Currency),Weighted_Price
2099755,1546898520,4006.01,4006.57,4006.00,4006.01,3.382954,13553.433078,4006.390309
2099756,1546898580,4006.01,4006.57,4006.00,4006.01,0.902164,3614.083169,4006.017233
2099757,1546898640,4006.01,4006.01,4006.00,4006.01,1.192123,4775.647308,4006.003635
2099758,1546898700,4006.01,4006.01,4005.50,4005.50,2.699700,10814.241898,4005.719991
2099759,1546898760,4005.51,4006.01,4005.51,4005.99,1.752778,7021.183546,4005.745614

In [12]:
pd.to_datetime?

Signature:
pd.to_datetime(
    arg,
    errors='raise',
    dayfirst=False,
    yearfirst=False,
    utc=None,
    box=True,
    format=None,
    exact=True,
    unit=None,
    infer_datetime_format=False,
    origin='unix',
    cache=False,
)
Docstring:
Convert argument to datetime.

Parameters
----------
arg : integer, float, string, datetime, list, tuple, 1-d array, Series

    .. versionadded:: 0.18.1

       or DataFrame/dict-like

errors : {'ignore', 'raise', 'coerce'}, default 'raise'

    - If 'raise', then invalid parsing will raise an exception
    - If 'coerce', then invalid parsing will be set as NaT
    - If 'ignore', then invalid parsing will return the input
dayfirst : boolean, default False
    Specify a date parse order if `arg` is str or its list-likes.
    If True, parses dates with the day first, eg 10/11/12 is parsed as
    2012-11-10.
    Warning: dayfirst=True is not strict, but will prefer to parse
    with day first (this is a known bug, based on dateutil behavior).
yearfirst : boolean, default False
    Specify a date parse order if `arg` is str or its list-likes.

    - If True parses dates with the year first, eg 10/11/12 is parsed as
      2010-11-12.
    - If both dayfirst and yearfirst are True, yearfirst is preceded (same
      as dateutil).

    Warning: yearfirst=True is not strict, but will prefer to parse
    with year first (this is a known bug, based on dateutil behavior).

    .. versionadded:: 0.16.1

utc : boolean, default None
    Return UTC DatetimeIndex if True (converting any tz-aware
    datetime.datetime objects as well).
box : boolean, default True

    - If True returns a DatetimeIndex or Index-like object
    - If False returns ndarray of values.
format : string, default None
    strftime to parse time, eg "%d/%m/%Y", note that "%f" will parse
    all the way up to nanoseconds.
exact : boolean, True by default

    - If True, require an exact format match.
    - If False, allow the format to match anywhere in the target string.

unit : string, default 'ns'
    unit of the arg (D,s,ms,us,ns) denote the unit, which is an
    integer or float number. This will be based off the origin.
    Example, with unit='ms' and origin='unix' (the default), this
    would calculate the number of milliseconds to the unix epoch start.
infer_datetime_format : boolean, default False
    If True and no `format` is given, attempt to infer the format of the
    datetime strings, and if it can be inferred, switch to a faster
    method of parsing them. In some cases this can increase the parsing
    speed by ~5-10x.
origin : scalar, default is 'unix'
    Define the reference date. The numeric values would be parsed as number
    of units (defined by `unit`) since this reference date.

    - If 'unix' (or POSIX) time; origin is set to 1970-01-01.
    - If 'julian', unit must be 'D', and origin is set to beginning of
      Julian Calendar. Julian day number 0 is assigned to the day starting
      at noon on January 1, 4713 BC.
    - If Timestamp convertible, origin is set to Timestamp identified by
      origin.

    .. versionadded:: 0.20.0
cache : boolean, default False
    If True, use a cache of unique, converted dates to apply the datetime
    conversion. May produce significant speed-up when parsing duplicate
    date strings, especially ones with timezone offsets.

    .. versionadded:: 0.23.0

Returns
-------
ret : datetime if parsing succeeded.
    Return type depends on input:

    - list-like: DatetimeIndex
    - Series: Series of datetime64 dtype
    - scalar: Timestamp

    In case when it is not possible to return designated types (e.g. when
    any element of input is before Timestamp.min or after Timestamp.max)
    return will have datetime.datetime type (or corresponding
    array/Series).

See Also
--------
pandas.DataFrame.astype : Cast argument to a specified dtype.
pandas.to_timedelta : Convert argument to timedelta.

Examples
--------
Assembling a datetime from multiple columns of a DataFrame. The keys can be
common abbreviations like ['year', 'month', 'day', 'minute', 'second',
'ms', 'us', 'ns']) or plurals of the same

>>> df = pd.DataFrame({'year': [2015, 2016],
                       'month': [2, 3],
                       'day': [4, 5]})
>>> pd.to_datetime(df)
0   2015-02-04
1   2016-03-05
dtype: datetime64[ns]

If a date does not meet the `timestamp limitations
<http://pandas.pydata.org/pandas-docs/stable/timeseries.html
#timeseries-timestamp-limits>`_, passing errors='ignore'
will return the original input instead of raising any exception.

Passing errors='coerce' will force an out-of-bounds date to NaT,
in addition to forcing non-dates (or non-parseable dates) to NaT.

>>> pd.to_datetime('13000101', format='%Y%m%d', errors='ignore')
datetime.datetime(1300, 1, 1, 0, 0)
>>> pd.to_datetime('13000101', format='%Y%m%d', errors='coerce')
NaT

Passing infer_datetime_format=True can often-times speedup a parsing
if its not an ISO8601 format exactly, but in a regular format.

>>> s = pd.Series(['3/11/2000', '3/12/2000', '3/13/2000']*1000)

>>> s.head()
0    3/11/2000
1    3/12/2000
2    3/13/2000
3    3/11/2000
4    3/12/2000
dtype: object

>>> %timeit pd.to_datetime(s,infer_datetime_format=True)
100 loops, best of 3: 10.4 ms per loop

>>> %timeit pd.to_datetime(s,infer_datetime_format=False)
1 loop, best of 3: 471 ms per loop

Using a unix epoch time

>>> pd.to_datetime(1490195805, unit='s')
Timestamp('2017-03-22 15:16:45')
>>> pd.to_datetime(1490195805433502912, unit='ns')
Timestamp('2017-03-22 15:16:45.433502912')

.. warning:: For float arg, precision rounding might happen. To prevent
    unexpected behavior use a fixed-width exact type.

Using a non-unix epoch origin

>>> pd.to_datetime([1, 2, 3], unit='D',
                   origin=pd.Timestamp('1960-01-01'))
0    1960-01-02
1    1960-01-03
2    1960-01-04
File:      /usr/lib/python3.7/site-packages/pandas/core/tools/datetimes.py
Type:      function

In [14]:
pd.to_datetime(df["Timestamp"]).head()

0   1970-01-01 00:00:01.417411980
1   1970-01-01 00:00:01.417412040
2   1970-01-01 00:00:01.417412100
3   1970-01-01 00:00:01.417412160
4   1970-01-01 00:00:01.417412220
Name: Timestamp, dtype: datetime64[ns]

In [15]:
df["Timestamp"].head()

0    1417411980
1    1417412040
2    1417412100
3    1417412160
4    1417412220
Name: Timestamp, dtype: int64

In [16]:
pd.to_datetime(df["Timestamp"]).tail()

2099755   1970-01-01 00:00:01.546898520
2099756   1970-01-01 00:00:01.546898580
2099757   1970-01-01 00:00:01.546898640
2099758   1970-01-01 00:00:01.546898700
2099759   1970-01-01 00:00:01.546898760
Name: Timestamp, dtype: datetime64[ns]

In [17]:
pd.(df["Timestamp"]).head()

TypeError: Cannot convert input [0          1417411980
1          1417412040
2          1417412100
3          1417412160
4          1417412220
5          1417412280
6          1417412340
7          1417412400
8          1417412460
9          1417412520
10         1417412580
11         1417412640
12         1417412700
13         1417412760
14         1417412820
15         1417412880
16         1417412940
17         1417413000
18         1417413060
19         1417413120
20         1417413180
21         1417413240
22         1417413300
23         1417413360
24         1417413420
25         1417413480
26         1417413540
27         1417413600
28         1417413660
29         1417413720
              ...
2099730    1546897020
2099731    1546897080
2099732    1546897140
2099733    1546897200
2099734    1546897260
2099735    1546897320
2099736    1546897380
2099737    1546897440
2099738    1546897500
2099739    1546897560
2099740    1546897620
2099741    1546897680
2099742    1546897740
2099743    1546897800
2099744    1546897860
2099745    1546897920
2099746    1546897980
2099747    1546898040
2099748    1546898100
2099749    1546898160
2099750    1546898220
2099751    1546898280
2099752    1546898340
2099753    1546898400
2099754    1546898460
2099755    1546898520
2099756    1546898580
2099757    1546898640
2099758    1546898700
2099759    1546898760
Name: Timestamp, Length: 2099760, dtype: int64] of type <class 'pandas.core.series.Series'> to Timestamp

In [18]:
pd.to_datetime(df["Timestamp"], unit="s").head()

0   2014-12-01 05:33:00
1   2014-12-01 05:34:00
2   2014-12-01 05:35:00
3   2014-12-01 05:36:00
4   2014-12-01 05:37:00
Name: Timestamp, dtype: datetime64[ns]